/* SCSS RGB */
$rich-black-fogra-29: rgba(14, 19, 31, 1);
$orange-peel: rgba(255, 159, 28, 1);
$honey-yellow: rgba(251, 179, 35, 1);
$star-command-blue: rgba(0, 124, 190, 1);
$ivory: rgba(255, 252, 232, 1);
$rhythm: rgba(114, 124, 151, 1);
$rhythm-trans: rgba(114, 124, 151, .7);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-right: linear-gradient(90deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-bottom: linear-gradient(180deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-left: linear-gradient(270deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-top-right: linear-gradient(45deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-bottom-right: linear-gradient(135deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-top-left: linear-gradient(225deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-bottom-left: linear-gradient(315deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-radial: radial-gradient(#0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);

header {
  background: darken($star-command-blue, 25);
  border-bottom: 1px solid rgb(70, 70, 70);
  color: #eee;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  * {
    padding: 0;
    margin: 0;
  }
}
