/* SCSS RGB */
$rich-black-fogra-29: rgba(14, 19, 31, 1);
$orange-peel: rgba(255, 159, 28, 1);
$honey-yellow: rgba(251, 179, 35, 1);
$star-command-blue: rgba(0, 124, 190, 1);
$ivory: rgba(255, 252, 232, 1);
$silver: #C1C1C2;
$dutch-white: #FDEAC4;
$space-cadet: rgba(37, 40, 61, 1);


/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-right: linear-gradient(90deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-bottom: linear-gradient(180deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-left: linear-gradient(270deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-top-right: linear-gradient(45deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-bottom-right: linear-gradient(135deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-top-left: linear-gradient(225deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-bottom-left: linear-gradient(315deg, #0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);
$gradient-radial: radial-gradient(#0e131fff, #ff9f1cff, #fbb323ff, #007cbeff, #fffce8ff);


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
  background: $space-cadet;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($star-command-blue, 25);
    border-top: 1px solid rgb(70, 70, 70);
    padding: 1em 0em;
    position: absolute;
    width: 100vw;
    bottom: 0px;
    color: #eee;
  }

  .prevRequest {
    display: inline;
    width: 28rem;
    max-width: auto;
    position: relative;
    left: 13.25rem;
    top: 1rem;
    padding: 1rem;
    background-color: rgb(21, 21, 21);
    color: $ivory;
    border: solid 1.5px $space-cadet;
    box-shadow: 1.15px 1.15px rgba(0, 0, 0, 0.301);
  }

  .dataContainer {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100vw;
    top: 12.5rem;
  }
}
